html {
    height: 100%;
    width: 100%;
  }

body {
    display: flex;
    justify-content: center;
    font-family: 'Arimo', 'Noto Serif', Helvetica, Arial, sans-serif;
    background-image: url("Images/10.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    text-size-adjust: 300%;
    overflow: hidden;
    height: 90%;
}


.chinese {
    font-family: "KaiTi";
    color: white;
    text-shadow:
        0.03em 0 5px black,
        0 0.03em 5px black,
        -0.03em 0 5px black,
        0 -0.03em 5px black;
  }

.shadow {
    color: white;
    text-shadow:
        0.07em 0 5px black,
        0 0.07em 5px black,
        -0.07em 0 5px black,
        0 -0.07em 5px black;
}

.wordBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: xxx-large;
    border: solid red;
}

.word {
    flex: 4 1 30%;
    font-size: 15vmin;   
    border: solid red;
}

.pronounciation {
    flex: 1 1 10%;
    font-size: 4vmin;  
    border: solid red;
}

.definition {
    flex: 1 5 10%;
    font-size: 6vmin;   
    text-align: center;
    border: solid red;
}

.hskLevel{
    flex: 1 1 10%;
    font-size: 4vmin;    
    border: solid red;
}

.sentence {
    flex: 1 1 10%;
    font-size: 4vmin;    
    border: solid red;
}